body {
    background: #A8DADC;
}

h1 {
    color: #fa4251;
    font-size: 38px;
}

a.button {
    text-decoration: none;
    padding: 2px 5px;
}

button,
a.button {
    background: #F1FAEE;
    color: #457B9D;
    border: 1px solid #D8F2CF;
    border-radius: 3px;
    font-size: 20px;
}

button:not([disabled]):hover,
a.button:not([disabled]):hover {
    background: #D8F1D0;
    color: #386480;
    border-color: #BEE8B0;
}

button:not([disabled]),
a:not([disabled]) {
    cursor: pointer;
}

.button[disabled] {
    opacity: .5;
    filter: grayscale(1);
}

input {
    width: 100%;
}

.content {
    width: 65%;
    min-width: 864px;
    margin: 0 auto;
}

a.back-button {
    display: inline-block;
    height: 1em;
    width: 1em;
    background: url('/resources/back.png') no-repeat;
    background-size: contain;
}
