button {
    background: #F1FAEE;
    color: #457B9D;
    border: 1px solid #D8F2CF;
    border-radius: 3px;
}

button:hover {
    background: #D8F1D0;
    color: #386480;
    border-color: #BEE8B0;
}

button:not([disabled]) {
    cursor: pointer;
}

input {
    width: 100%;
}

.source-account,
.recipient-account {
    width: 222px;
}

.amount {
    width: 65px;
}

.content {
    width: 61%;
    min-width: 864px;
    margin: 0 auto;
}
