<!--include scripts-->
<button type="button" id="saveButton">Zapisz zmiany</button>
<table>
    <thead>
    <tr>
        <th>Konto źródłowe</th>
        <th>Odbiorca</th>
        <th>Konto odbiorcy</th>
        <th>Tytuł</th>
        <th>Kwota</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>

<template id="rowTemplate">
    <tr>
        <td class="source-account"><input type="text"></td>
        <td class="recipient-name"><input type="text"></td>
        <td class="recipient-account"><input type="text"></td>
        <td class="title"><input type="text"></td>
        <td class="amount"><input type="text"></td>
    </tr>
</template>

