<!--include scripts-->
<div id="topPanel">
    <button id="addRecipient">Dodaj odbiorcę</button>
</div>

<table>
    <thead>
    <tr>
        <th>Konto źródłowe</th>
        <th>Odbiorca</th>
        <th>Konto odbiorcy</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>

<template id="rowTemplate">
    <tr>
        <td class="source-account"><div></div></td>
        <td class="recipient-name"><div></div></td>
        <td class="recipient-account"><div></div></td>
    </tr>
</template>

<link rel="stylesheet"
      href="/src/options/views/recipients/styles.css">

