.topPanel {
    display: flex;
    align-items: center;
}

a.back-button {
    display: inline-block;
    height: 70px;
    width: 70px;
    margin-right: 35px;
    background: url('/resources/back.png') no-repeat;
    background-size: contain;
}
